<h1>Rock, Paper, Scissors</h1>
<% if params[:choose] == nil %>
    <h2>Let's Play! Choose One:</h2>
    <a href="/rps?choose=rock"><%= image_tag("rock.jpg") %></a>
    <a href="/rps?choose=paper"><%= image_tag("paper.png") %></a>
    <a href="/rps?choose=scissors"><%= image_tag("scissors.jpg") %></a>
<% else %>
    <h2><%= @game.result %></h2>
    <a href="/rps">Play Again</a><br>
    <%= image_tag(@game.player_move[:url]) %>
    <%= image_tag(@game.computer_move[:url]) %>
<% end %>


